@import 'src/common/sass/mixin';
@import 'src/common/sass/variables';

.buttonCommon {
    width: 255px;
    height: 52px;
    @include wrapper(#FFFFFF, none, 20px, $border);
    line-height: 150%;
    letter-spacing: 0.2px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 30px;
    margin: 16px 30px 16px 0 ;
    @media screen and (max-width: 360px) {
        @include text(12px, 600, $fontFamily, #FFFFFF);
        margin-top: 22px;
        line-height: 18px;
        height: 40px;
    }
}
