$textColor: #363636;
$bgColor: #111;
$bgSecondColor: #252527;
$textActiveColor: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
$textSecondColor: #A7A7A7;
$secondFontFamily: 'Poppins', sans-serif;
$fontFamily: 'Montserrat', sans-serif;
$boxShadow: 0 2px 4px rgba(191, 196, 201, 0.2), 0 3px 4px rgba(191, 196, 201, 0.18), 0 1px 5px rgba(191, 196, 201, 0.24);
$border: 1px solid #FFFFFF;
$borderSecond: 1px solid #BFC4C9;
$boxShadowSecond: 4px 4px 4px rgba(54, 54, 54, 0.05), -4px 4px 4px rgba(54, 54, 54, 0.05);
