@import '../../../common/sass/mixin';
@import '../../../common/sass/variables';


.signUp {
    @media screen and (max-width: 360px) {
        @include flex(flex, column, center, center);
        justify-content: flex-start !important;
    }
    .cleverLand {
        margin-top: 16px;
    }

}


.commonContainer {
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    height: 422px !important;

    .enter {
        cursor: pointer;
        padding: 0 0 0 16px;
        border: none;
        border-radius: 16px 16px 0 0;
        color: inherit;
        background-color: #F9F9FA;
        top: 20px;
        height: 64px;
        width: 100%;

    }
    .container {
        margin: auto;
        .helper {
            @include text(16px, 400, $fontFamily, #727272);
            line-height: 24px;
            margin-bottom: 0 !important;
        }
        .helperError {
            margin-bottom: 0 !important;
        }

    }
    @media screen and (max-width: 360px) {
        height: 458px !important;
    }
}
