@import 'src/common/sass/mixin';
@import 'src/common/sass/variables';

.mainPageContainer {
    @include flex(flex, row, center, center);
    min-height: 100vh;
    width: 100%;
    .mainPage {
        display: flex;
    }
    @media screen and (max-width: 1150px) {
        width: 90%
    }
}

