@import 'src/common/sass/mixin';
@import 'src/common/sass/variables';

.formContainer {
    @include flex(flex, row, flex-start, normal);
    flex-wrap: wrap;
    width: 100%;
    column-gap: 30px;

    .labelContainer {
        position: relative;
        width: 100%;

        .inputCommon {
            position: relative;
            width: 540px;
            cursor: pointer;
            height: 56px;
            @include text(14px, 400, $fontFamily, $textColor);
            line-height: 18px;
            background: #F9F9FA;
            border: none;
            border-bottom: 1px solid #BFC4C9;
            padding-left: 12px;
            z-index: 2;
            outline: none;

            &:focus {
                z-index: 0;
            }

            &:focus::placeholder {
                color: transparent;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
            }

            @media screen and (max-width: 320px) {
                width: 95%
            }
        }

        .inputCommonError {
            border-bottom: 1px solid rgb(244, 44, 79);
        }

        .labelFocus {
            @include text(12px, 500, $fontFamily, $textSecondColor);
            line-height: 16px;
            letter-spacing: 0.2px;
            position: absolute;
            top: 50%;
            background-color: transparent;
            transform: translateY(-26px);
            padding-left: 12px;
            z-index: 1;
        }

        .label {
            z-index: 3;
        }

        .eyeStyles {
            @include resetButton();
            position: absolute;
            bottom: 17px;
            right: 16px;
            z-index: 4;
        }

        .successPassword {
            position: absolute;
            bottom: 17px;
            right: 40px;
            z-index: 4;
        }
    }
    .buttonContainer {
        @include flex(flex, row, flex-start, normal);
        .buttonEdit {
            @include text(16px, 600, $fontFamily, $textColor);
            border: 1px solid #BFC4C9;
            background: rgba(0, 0, 0, 0);
            @media screen and (max-width: 320px) {
                width: 100%;
                margin-right: 0;
                margin-bottom:  0;
            }
        }

        .buttonSubmitDisable {
            @include text(16px, 600, $fontFamily, #FFFFFF);
            background: #EBEBEB;
            margin-right: 0;
            @media screen and (max-width: 320px) {
                width: 100%;
                margin-bottom:  0;

            }
        }

        .buttonSubmit {
            @include text(16px, 600, $fontFamily, #FFFFFF);
            background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
            border-radius: 30px;
            margin-right: 0;
            @media screen and (max-width: 320px) {
                width: 100%;
                margin-bottom:  0;
            }
        }
        @media screen and (max-width: 320px) {
            @include flex(flex, column, center, center);
            width: 95%;
        }
    }


    .emptyDiv {
        height: 32px;
        margin-bottom: 16px;
    }

    .helper {
        @include text(12px, 500, $fontFamily, $textSecondColor);
        line-height: 16px;
        letter-spacing: 0.2px;
        margin: 0 0 16px 12px;
        height: 32px;
        @media screen and (max-width: 768px) {
            width: 290px;
        }
        @media screen and (max-width: 360px) {
            margin-bottom: 10px;
        }
    }

    .red {
        color: rgb(244, 44, 79)
    }

    .helperError {
        @include text(12px, 500, $fontFamily, $textSecondColor);
        line-height: 16px;
        letter-spacing: 0.2px;
        margin: 0 0 16px 12px;
        color: rgb(244, 44, 79);
        height: 32px;
        @media screen and (max-width: 768px) {
            width: 290px;
        }
        @media screen and (max-width: 360px) {
            margin-bottom: 10px;
        }

    }

}
