@import '../../../common/sass/mixin';
@import '../../../common/sass/variables';

.commonContainer {
    @media screen and (max-width: 360px) {
        height: 480px !important;
    }
}

.helperError {
    margin-bottom: 0 !important;
}


.helper {
    @include text(16px, 400, $fontFamily, #727272);
    line-height: 24px;
    @media screen and (max-width: 360px) {
        @include text(15px, 400, $fontFamily, #727272);
        line-height: 20px;
    }
}

.commonContainer2 {
    height: 290px !important;
    @media screen and (max-width: 360px) {
        height: 278px !important;
    }
}
